@import "./rose-pine.css";

* {
  font-family: JetBrains Nerd Font Mono;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 8px;
}

window#waybar {
  background: rgba(1, 0, 0, 0);
}

/*-----module groups----*/
.modules-center {
  background-color: @base;
  margin: 2px 0 0 0;
}

/*-----modules indv----*/
#workspaces button {
  padding: 2.5px;
  background-color: @base;
}
#workspaces button label {
  color: @rose;
}

#workspaces button.focused label {
  color: @pine;
}

#memory {
  padding: 0 10px 0 500px;
  color: @foam;
}
#custom-logo {
  font-size: 18px;
  margin: 0;
  margin-left: 7px;
  margin-right: 12px;
  padding: 0;
  font-family: Iosevka Nerd Font;
}

#tray,
#mode {
  padding: 0 10px;
  color: @iris;
}

#clock {
  color: @love;
  padding: 0 10px;
}

#mode {
  color: #cc3436;
  font-weight: bold;
}
#custom-power {
  background-color: rgba(0, 119, 179, 0.6);
  border-radius: 100px;
  margin: 5px 5px;
  padding: 1px 1px 1px 6px;
}
/*-----Indicators----*/
#battery {
  padding: 0 10px;
  color: @gold;
}

#pulseaudio {
  padding: 0 10px;
  color: @pine;
}

#language {
  padding: 0 10px;
  color: @rose;
}
